@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
html body {
    background-color: #f2f9ff;
    font-family: 'Roboto', sans-serif;
}

body,
canvas {
    z-index: -1;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    display: inline-block;
    text-decoration: none;
}

#stage {
    position: absolute;
    top: 0;
}

.landing-cards {
    align-items: center;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    height: 20rem;
    justify-content: center;
    width: 30rem;
}

.card-body {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    text-align: center;

    color: #d7d7d7;
    font-size: 30px;
    font-weight: 1000;
}

.card-header {
    display: flex;
    justify-content: center;

    color: powderblue;
    font-size: 24px;
    font-weight: 1000;

    background-color: #fff;
}

.jumbotron {
    background: #65015c;
    box-shadow: 20px 21px 184px 1px rgba(101, 1, 92, 1);
    -webkit-box-shadow: 20px 21px 184px 1px rgba(101, 1, 92, 1);
    -moz-box-shadow: 20px 21px 184px 1px rgba(101, 1, 92, 1);
    color: #ffffff;
    margin: 15% auto;
    padding: 15px;
    width: 80%;
}

.mainApp {
    align-items: center;
    display: flex;
    justify-content: space-around;
    line-height: 4em;
    min-height: 500px;
    height: 100%;
}

.step {
    text-align: center;
    transition: all 500ms ease-out 1s;
}

ol.progtrckr {
    list-style-type: none;
    padding: 0;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.2rem;
    cursor: pointer;
}

ol.progtrckr li span {
    padding: 0 1.5rem;
}

@media (max-width: 650px) {
    .progtrckr li span {
        display: none;
    }
}

.progtrckr em {
    display: none;
    font-weight: 700;
    padding-left: 1rem;
}

@media (max-width: 650px) {
    .progtrckr em {
        display: inline;
    }
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
    color: #ffffff;
    border-bottom: 4px solid #ce4444;
}

ol.progtrckr li.progtrckr-done {
    color: #ffffff;
    border-bottom: 4px solid #ff7bd2;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -3.7rem;
    float: left;
    left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #ffffff;
    background-color: #65015c;
    width: 1.2em;
    line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
    color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    color: white;
    background-color: #ce4444;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
    color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #ff7bd2;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
    color: #ff7bd2;
}